# Logs
logs
*.log

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Dependency directory
bower_components

# Dev file
gulpfile.js